/*
CSS Rules

selector {
	property: value;
	property: value;

}
*/


/*Universal Selector*/
* {
	font-family: "Courier New", monospace;

	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Type Selector*/
h1 {
	font-family: "Tahoma", sans-serif;	
}

/*
Class Selector
	To use a class selector, add a period before the name of target class

	The default font size of a page is 16px
*/
.nav-link {
	font-size: 18px;
}

.title {
	color: green;
}

#modules {
	margin-top: 30px;
	margin-bottom: 30px;
}

#moduleHeader {
	margin-top: 30px;
}

.module-card {
	height: 350px;
	width: 800px;
	padding: 20px;
	border: 2px solid black;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-radius: 10px;
}


/*
	Without border-box
	Border and padding is added on top of the width/height
	1px left border + 50px left padding + 150 px width + 50px right padding + 1px right border = 252px


	With border-box
	Border and padding is included in the total width/height
	1px left border + 50px left padding + 150 px width + 50px right padding + 1px right border = 150px
*/


/*
	ID Selector
	- To use an ID selector, add a hash or pound sign before the name of the target class.
	#idName {}
	
*/
#hello {
	color: black;
	font-size: 2rem;
	/*rem - measurement called the root element*/
}

#logo {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

a {
	text-decoration: none;
}

nav {
	background-color: white;
	text-align: center;
	/*padding is property that allows us to add a space within an element*/
	padding: 15px;
}



section {
	text-align: center;
}

body {
	background-color: skyblue;
}

